In [2]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

spark = (
    SparkSession.builder.appName('Curso PySpark')
    .config('spark.sql.repl.eagerEval.enabled',True)
    .getOrCreate()
)

spark

In [12]:
df = spark.read.parquet('C:/Users/Kimura/Desktop/Curso PySpark/DATASETS/DATASETS/LOGINS.parquet').select('data_de_nascimento','data_cadastro')

In [14]:
df

+------------------+-------------+
|data_de_nascimento|data_cadastro|
+------------------+-------------+
|        2006-12-18|   2023-02-26|
|        1992-06-17|   2023-02-16|
|        1921-11-11|   2023-01-02|
|        2021-06-01|   2023-01-08|
|        1969-10-28|   2023-02-14|
|        1986-05-19|   2023-03-07|
|        2018-04-20|   2023-01-13|
|        1996-05-12|   2023-02-04|
|        2021-10-05|   2023-03-02|
|        1917-01-05|   2023-02-21|
|        1912-05-25|   2023-01-25|
|        1920-05-26|   2023-02-18|
|        1938-03-11|   2023-01-19|
|        1922-09-01|   2023-02-01|
|        2013-01-10|   2023-01-07|
|        1992-10-16|   2023-01-05|
|        1945-11-18|   2023-01-24|
|        1915-11-15|   2023-01-22|
|        1964-02-01|   2023-02-16|
|        1959-02-01|   2023-02-25|
+------------------+-------------+
only showing top 20 rows

In [92]:
# Adicionar Mês -> add_months: 1 parâmetro - coluna com data | 2 parâmetro - quantidade de meses para adicionar (+ para avançar e - para recuar os meses)
# Data Atual -> current_date: retorna a data atual
# Data e Hora Atual -> current_timestamp: retorna data e hora atual
# Adicionar Dias -> date_add: 1 parâmetro - coluna com data | 2 parâmetro - quantidade de dias a ser adicionado (+ para avançar e - para recuar os dias)
    # podemos utilizar também o date_sub: faz a mesma função do date_add porém com o sinal inverso
# Formatação de Datas -> date_format: podemos pegar um formato de data e configurá-lo para o modelo que quisermos. d = dia | M = mês | y = ano
# Diferença de Datas -> datediff: parâmetro 1 - data final (ou de refência) | parâmetro 2 - data  inicial
# Dia do Mês e da Semana -> dayofmonth & dayofweek: traz o dia do mês e o dia da semana respectivamente
# Semana do Ano -> weekofyear: Um ano tem 55 semanas, essa função traz a semana em que a data está
# Ano e Mês -> year & month: traz o Ano e o Mês da data, respectivamente;
# Último dia do mês -> last_day: traz o último dia do mês da data em questão
# Diferença de datas -> months_between: calcula a diferença entre datas, semelhante ao datediff
# Próximo Dia -> next_day: ele verificar qual é a próxima data considerando o dia e a data em questão


(
    df
    .withColumn('Adicionar_mês', F.add_months(df.data_cadastro, 1))
    .withColumn('Subtrair_mês', F.add_months(df.data_cadastro, -1))
    .withColumn('Data_atual', F.current_date())
    .withColumn('Data_hora_atual', F.current_timestamp())
    .withColumn('Adicionar_dias', F.date_add(df.data_cadastro, 15))
    .withColumn('Subtrair_dias', F.date_add(df.data_cadastro, -15))
    .withColumn('Subtrair_dias_sub', F.date_sub(df.data_cadastro, 15))
    .withColumn('Subtrair_dias_sub', F.date_sub(df.data_cadastro, -15))
    .withColumn('Formatação_Data', F.date_format(df.data_de_nascimento, 'dd/MM/yyyy'))
    .withColumn('Formatação_Data', F.date_format(df.data_de_nascimento, 'E, dd-MMM-yyyy'))
    .withColumn('Diferença_Datas', F.datediff(F.current_date(), df.data_de_nascimento))
    .withColumn('Dia_do_Mês', F.dayofmonth(df.data_de_nascimento))
    .withColumn('Dia_da_Semana', F.dayofweek(df.data_de_nascimento))
    .withColumn('Semana_do_ano', F.weekofyear(df.data_de_nascimento))
    .withColumn('Ano', F.year(df.data_de_nascimento))
    .withColumn('Mês', F.month(df.data_de_nascimento))
    .withColumn('Ultimo_dia_mês', F.last_day(df.data_de_nascimento))
    .withColumn('Meses_Entre', F.months_between(F.current_date(), df.data_de_nascimento))
    .withColumn('Próximo_Dia', F.next_day(df.data_de_nascimento, 'Mon'))
    .withColumn('Criar_Data', F.make_date(F.lit(1996), F.lit(6), F.lit(19)))
    .withColumn('Formatar_como_data', F.to_date(F.lit('1996-06-19')))
)

+------------------+-------------+-------------+------------+----------+--------------------+--------------+-------------+-----------------+----------------+---------------+----------+-------------+-------------+----+---+--------------+-------------+-----------+----------+------------------+
|data_de_nascimento|data_cadastro|Adicionar_mês|Subtrair_mês|Data_atual|     Data_hora_atual|Adicionar_dias|Subtrair_dias|Subtrair_dias_sub| Formatação_Data|Diferença_Datas|Dia_do_Mês|Dia_da_Semana|Semana_do_ano| Ano|Mês|Ultimo_dia_mês|  Meses_Entre|Próximo_Dia|Criar_Data|Formatar_como_data|
+------------------+-------------+-------------+------------+----------+--------------------+--------------+-------------+-----------------+----------------+---------------+----------+-------------+-------------+----+---+--------------+-------------+-----------+----------+------------------+
|        2006-12-18|   2023-02-26|   2023-03-26|  2023-01-26|2025-04-06|2025-04-06 17:14:...|    2023-03-13|   2023-02-11|       2023-03-13|Mon, 18-Dec-2006|           6684|        18|            2|           51|2006| 12|    2006-12-31| 219.61290323| 2006-12-25|1996-06-19|        1996-06-19|
|        1992-06-17|   2023-02-16|   2023-03-16|  2023-01-16|2025-04-06|2025-04-06 17:14:...|    2023-03-03|   2023-02-01|       2023-03-03|Wed, 17-Jun-1992|          11981|        17|            4|           25|1992|  6|    1992-06-30| 393.64516129| 1992-06-22|1996-06-19|        1996-06-19|
|        1921-11-11|   2023-01-02|   2023-02-02|  2022-12-02|2025-04-06|2025-04-06 17:14:...|    2023-01-17|   2022-12-18|       2023-01-17|Fri, 11-Nov-1921|          37767|        11|            6|           45|1921| 11|    1921-11-30|1240.83870968| 1921-11-14|1996-06-19|        1996-06-19|
|        2021-06-01|   2023-01-08|   2023-02-08|  2022-12-08|2025-04-06|2025-04-06 17:14:...|    2023-01-23|   2022-12-24|       2023-01-23|Tue, 01-Jun-2021|           1405|         1|            3|           22|2021|  6|    2021-06-30|  46.16129032| 2021-06-07|1996-06-19|        1996-06-19|
|        1969-10-28|   2023-02-14|   2023-03-14|  2023-01-14|2025-04-06|2025-04-06 17:14:...|    2023-03-01|   2023-01-30|       2023-03-01|Tue, 28-Oct-1969|          20249|        28|            3|           44|1969| 10|    1969-10-31| 665.29032258| 1969-11-03|1996-06-19|        1996-06-19|
|        1986-05-19|   2023-03-07|   2023-04-07|  2023-02-07|2025-04-06|2025-04-06 17:14:...|    2023-03-22|   2023-02-20|       2023-03-22|Mon, 19-May-1986|          14202|        19|            2|           21|1986|  5|    1986-05-31| 466.58064516| 1986-05-26|1996-06-19|        1996-06-19|
|        2018-04-20|   2023-01-13|   2023-02-13|  2022-12-13|2025-04-06|2025-04-06 17:14:...|    2023-01-28|   2022-12-29|       2023-01-28|Fri, 20-Apr-2018|           2543|        20|            6|           16|2018|  4|    2018-04-30|   83.5483871| 2018-04-23|1996-06-19|        1996-06-19|
|        1996-05-12|   2023-02-04|   2023-03-04|  2023-01-04|2025-04-06|2025-04-06 17:14:...|    2023-02-19|   2023-01-20|       2023-02-19|Sun, 12-May-1996|          10556|        12|            1|           19|1996|  5|    1996-05-31| 346.80645161| 1996-05-13|1996-06-19|        1996-06-19|
|        2021-10-05|   2023-03-02|   2023-04-02|  2023-02-02|2025-04-06|2025-04-06 17:14:...|    2023-03-17|   2023-02-15|       2023-03-17|Tue, 05-Oct-2021|           1279|         5|            3|           40|2021| 10|    2021-10-31|  42.03225806| 2021-10-11|1996-06-19|        1996-06-19|
|        1917-01-05|   2023-02-21|   2023-03-21|  2023-01-21|2025-04-06|2025-04-06 17:14:...|    2023-03-08|   2023-02-06|       2023-03-08|Fri, 05-Jan-1917|          39538|         5|            6|            1|1917|  1|    1917-01-31|1299.03225806| 1917-01-08|1996-06-19|        1996-06-19|
|        1912-05-25|   2023-01-25|   2023-02-25|  2022-12-25|2025-04-06|2025-04-06 17:14:...|    2023-02-09|   2023-01-10|       2023-02-09|Sat, 25-May-1912|          41224|        25|            7|           21|1912|  5|    1912-05-31|1354.38709677| 1912-05-27|1996-06-19|        1996-06-19|
|        1920-05-26|   2023-02-18|   2023-03-18|  2023-01-18|2025-04-06|2025-04-06 17:14:...|    2023-03-05|   2023-02-03|       2023-03-05|Wed, 26-May-1920|          38301|        26|            4|           22|1920|  5|    1920-05-31|1258.35483871| 1920-05-31|1996-06-19|        1996-06-19|
|        1938-03-11|   2023-01-19|   2023-02-19|  2022-12-19|2025-04-06|2025-04-06 17:14:...|    2023-02-03|   2023-01-04|       2023-02-03|Fri, 11-Mar-1938|          31803|        11|            6|           10|1938|  3|    1938-03-31|1044.83870968| 1938-03-14|1996-06-19|        1996-06-19|
|        1922-09-01|   2023-02-01|   2023-03-01|  2023-01-01|2025-04-06|2025-04-06 17:14:...|    2023-02-16|   2023-01-17|       2023-02-16|Fri, 01-Sep-1922|          37473|         1|            6|           35|1922|  9|    1922-09-30|1231.16129032| 1922-09-04|1996-06-19|        1996-06-19|
|        2013-01-10|   2023-01-07|   2023-02-07|  2022-12-07|2025-04-06|2025-04-06 17:14:...|    2023-01-22|   2022-12-23|       2023-01-22|Thu, 10-Jan-2013|           4469|        10|            5|            2|2013|  1|    2013-01-31| 146.87096774| 2013-01-14|1996-06-19|        1996-06-19|
|        1992-10-16|   2023-01-05|   2023-02-05|  2022-12-05|2025-04-06|2025-04-06 17:14:...|    2023-01-20|   2022-12-21|       2023-01-20|Fri, 16-Oct-1992|          11860|        16|            6|           42|1992| 10|    1992-10-31| 389.67741935| 1992-10-19|1996-06-19|        1996-06-19|
|        1945-11-18|   2023-01-24|   2023-02-24|  2022-12-24|2025-04-06|2025-04-06 17:14:...|    2023-02-08|   2023-01-09|       2023-02-08|Sun, 18-Nov-1945|          28994|        18|            1|           46|1945| 11|    1945-11-30| 952.61290323| 1945-11-19|1996-06-19|        1996-06-19|
|        1915-11-15|   2023-01-22|   2023-02-22|  2022-12-22|2025-04-06|2025-04-06 17:14:...|    2023-02-06|   2023-01-07|       2023-02-06|Mon, 15-Nov-1915|          39955|        15|            2|           46|1915| 11|    1915-11-30|1312.70967742| 1915-11-22|1996-06-19|        1996-06-19|
|        1964-02-01|   2023-02-16|   2023-03-16|  2023-01-16|2025-04-06|2025-04-06 17:14:...|    2023-03-03|   2023-02-01|       2023-03-03|Sat, 01-Feb-1964|          22345|         1|            7|            5|1964|  2|    1964-02-29| 734.16129032| 1964-02-03|1996-06-19|        1996-06-19|
|        1959-02-01|   2023-02-25|   2023-03-25|  2023-01-25|2025-04-06|2025-04-06 17:14:...|    2023-03-12|   2023-02-10|       2023-03-12|Sun, 01-Feb-1959|          24171|         1|            1|            5|1959|  2|    1959-02-28| 794.16129032| 1959-02-02|1996-06-19|        1996-06-19|
+------------------+-------------+-------------+------------+----------+--------------------+--------------+-------------+-----------------+----------------+---------------+----------+-------------+-------------+----+---+--------------+-------------+-----------+----------+------------------+
only showing top 20 rows

## Resumo

#### Adicionar ou Subtrair MESES
Utilizamos o método `add_months`. Quando usado com o parâmetro positivo, adicionamos meses, com o parâmetro negativo, subtraimos meses.
- `.withColumn('Adicionar_mês', F.add_months(df.data_cadastro, 1))` -> Adiciona meses
- `.withColumn('Subtrair_mês', F.add_months(df.data_cadastro, -1))` -> Subtrai meses

#### Tempo Atual
Podemos utilizar 2 métodos: `current_date` ou `current_timestamp`.
- `.withColumn('Data_atual', F.current_date())` -> traz a data atual
- `.withColumn('Data_hora_atual', F.current_timestamp())` -> traz a data e hora atual

#### Adicionar ou Subtrair DIAS
Podemos utilizar 2 métodos: `date_add` ou `date_sub`. \
OBS: o `date_add` irá SOMAR valores indicados, mas se os valores forem negativos, ele irá subtrair;\
OBS2: o `date_sub` irá SUBTRAIR valores indicados, mas se os valores forem negativos, ele irá somar;

- `.withColumn('Adicionar_dias', F.date_add(df.data_cadastro, 15))` -> adiciona 15 dias;
- `.withColumn('Subtrair_dias', F.date_add(df.data_cadastro, -15))` -> subtrai 15 dias;
- `.withColumn('Subtrair_dias_sub', F.date_sub(df.data_cadastro, -15))` -> adiciona 15 dias;
- `.withColumn('Subtrair_dias_sub', F.date_sub(df.data_cadastro, 15))` -> subtrai 15 dias

#### Formatação Data
Temos a opção de alterar o formato de data com o `date_format`.
- `.withColumn('Formatação_Data', F.date_format(df.data_de_nascimento, 'dd/MM/yyyy'))` -> altera para o formato dia mes ano
- `.withColumn('Formatação_Data', F.date_format(df.data_de_nascimento, 'E, dd-MMM-yyyy'))` -> altera para o formato dia_semana dia mes ano
- OBS: doc -> `https://spark.apache.org/docs/latest/sql-ref-datetime-pattern`

Podemos também CONVERTER a data de STRING para DATE com o `to_date`:
- `.withColumn('Formatar_como_data', F.to_date(F.lit('1996-06-19')))`

#### Diferença entre datas
Podemos calcular a diferença entre duas datas com o `datediff` e o `date_between`:
- `.withColumn('Diferença_Datas', F.datediff(F.current_date(), df.data_de_nascimento))` -> diferença entre dias
- `.withColumn('Meses_Entre', F.months_between(F.current_date(), df.data_de_nascimento))` -> diferença entre meses

#### Seleção de parte da data
Seleção de ANO:
- `year` : `.withColumn('Ano', F.year(df.data_de_nascimento))` -> retorna o ano da data

Seleção de MêS:
- `month` : `.withColumn('Mês', F.month(df.data_de_nascimento))` -> retorna o mês da data

Seleção do último dia do MêS:
- `last_day` : `.withColumn('Ultimo_dia_mês', F.last_day(df.data_de_nascimento))` -> retorna a última data do mês

Seleção do próximo dia da data selecionada (necessário indicar qual dia deseja selecionar):
- `next_day` : `.withColumn('Próximo_Dia', F.next_day(df.data_de_nascimento, 'Mon'))` -> no exemplo, retorna a próxima segunda feira a partir da data da coluna

Criação de data:
- `make_date` : `.withColumn('Criar_Data', F.make_date(F.lit(1996), F.lit(6), F.lit(19)))` -> cria uma data a partir de valores LITERAIS `(.lit)`