In [2]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

spark = (
    SparkSession.builder.appName('Curso PySpark')
    .config('spark.sql.repl.eagerEval.enabled',True)
    .getOrCreate()
)

spark

In [4]:
df = spark.read.parquet('C:/Users/Kimura/Desktop/Curso PySpark/DATASETS/DATASETS/LOGINS.parquet')

In [12]:
df.groupBy('estado').agg(F.count('*').alias('quantidade'))

+------+----------+
|estado|quantidade|
+------+----------+
|    SC|        44|
|    RO|        39|
|    PI|        35|
|    AM|        34|
|    RR|        33|
|    GO|        45|
|    TO|        34|
|    MT|        29|
|    SP|        49|
|    ES|        38|
|    PB|        34|
|    RS|        39|
|    MS|        42|
|    AL|        36|
|    MG|        46|
|    PA|        28|
|    BA|        42|
|    SE|        44|
|    PE|        34|
|    CE|        45|
+------+----------+
only showing top 20 rows

In [24]:
df.groupBy(F.col('estado').alias('UF')).agg(F.count('*').alias('quantidade'))

+---+----------+
| UF|quantidade|
+---+----------+
| SC|        44|
| RO|        39|
| PI|        35|
| AM|        34|
| RR|        33|
| GO|        45|
| TO|        34|
| MT|        29|
| SP|        49|
| ES|        38|
| PB|        34|
| RS|        39|
| MS|        42|
| AL|        36|
| MG|        46|
| PA|        28|
| BA|        42|
| SE|        44|
| PE|        34|
| CE|        45|
+---+----------+
only showing top 20 rows

In [26]:
df1 = df.alias('loggins')

In [28]:
df1.select('cpf','loggins.cpf')

+--------------+--------------+
|           cpf|           cpf|
+--------------+--------------+
|981.507.362-12|981.507.362-12|
|493.705.168-75|493.705.168-75|
|398.471.625-73|398.471.625-73|
|092.618.354-06|092.618.354-06|
|509.427.136-99|509.427.136-99|
|218.795.460-94|218.795.460-94|
|715.836.940-48|715.836.940-48|
|475.698.032-56|475.698.032-56|
|217.639.540-99|217.639.540-99|
|261.938.750-77|261.938.750-77|
|520.831.796-68|520.831.796-68|
|413.087.526-44|413.087.526-44|
|509.287.143-14|509.287.143-14|
|563.170.492-70|563.170.492-70|
|098.712.346-78|098.712.346-78|
|345.709.261-34|345.709.261-34|
|318.254.906-51|318.254.906-51|
|610.287.453-62|610.287.453-62|
|615.790.842-49|615.790.842-49|
|624.095.138-24|624.095.138-24|
+--------------+--------------+
only showing top 20 rows